@model IEnumerable<CodeAlongEmpty.Models.Person>

@{
    ViewData["Title"] = "People";
}

<h1>People</h1>

<p>
    <a asp-action="Create">Create person</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.SSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Remove" asp-route-SSN="@item.SSN">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
